body{
    margin: 0px;
    padding: 0px;
    font-family: "Rubik", sans-serif;
    font-weight: normal;
    font-style: normal;
    min-width: 250px;
}
.container-fluid{
    padding-left: 0px;
    padding-right: 0px;
}
.navbar{
    padding: .7rem 1.2rem;
    background-color: rgba(10, 10, 10, .5);
    transition-duration: .2s;
}
.section{
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

/***********First Section************/
.first-section{
    height: 95vh;
    background-image: url("img/plane4.jfif");
}

.radiobox{
    border-radius: 25px;
    width: 28%;
    box-shadow: 0 0 5px rgba(0, 0, 0, .6);
    display: flex;
    overflow: hidden;
    margin: 0 auto 15px auto;
}
.first-box, .second-box{
    width: 49.95%;
    padding: 4px 0px;
    text-align: center;
    transition-duration: .2s;
}
.first-box{
    /**/
}
.first-box:hover{
    background-color: #ffc107;
    cursor: pointer;
}
.second-box{
    /**/
}
.second-box:hover{
    background-color: #ffc107;
    cursor: pointer;
}
.radiobox .active{
    background-color: #ffc107;
}
.vline{
    width: .1%;
    background-color: black;
    border-color: black;
}

.search-flight{
    padding: 50px 40px;
    background-color: rgba(255, 255, 255, .9);
    position: absolute;
    top: 50%;
    width: 90%;
    left: 50%;
    transform: translate(-50%,-60%);
    border-radius: 25px;
    box-shadow: rgba(101, 119, 134, 0.2) 0px 0px 15px, rgba(101, 119, 134, 0.15) 0px 0px 3px 1px;
}
.banner h3{
    font-weight: 600;
}
.search-flight-form-data{
    display: flex;
    justify-content: space-between;
}
.search-flight-form-data .btn{
    padding: .375rem .9rem;
}
.input-row{
    margin-left: 15px;
    position: relative;
    cursor: pointer;
}
.input-row a:active{
    background-color: rgba(251, 222, 55, .4);
}
/*.input-row .dropdown-menu{
    left: 15;
}*/
.dropdown-input{
    max-height: 30vh;
    width: 100%;
    overflow: auto;
}
.dropdown-input::-webkit-scrollbar-track {
    background-color: white;
}
.dropdown-input::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}


@media (max-width:992px){
    .search-flight-form-data{
        display: block;
        width: 100%;
    }
    .input-row{
        margin-bottom: 15px;
        margin-left: 0px;
    }
    .radiobox{
        width: 65%;
    }
}

@media(max-height:630px){
    .search-flight{
        transform: translate(-50%, -50%);
    }
}

@media (max-width:560px){
    .search-flight{
        width: 95%;
    }
    .radiobox{
        width: 70%;
    }
}

@media (max-width:330px){
    .search-flight{
        padding: 40px 10px;
    }
    .radiobox{
        width: 90%;
    }
}


/***************Divider******************/
.divider{
    position: absolute;
    height: 10vh;
    top: 85.08vh;
    background-color: grey;
}
.divider::after{
    content: "";
    border-top: 10vh solid transparent;
    border-left: 100vw solid white;
    width: 0;
    position: absolute;
}


/*************Second Section**************/
.second-section{
    height: 100vh;
}


::-webkit-scrollbar-track {
    background: none;
}
::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}
::-webkit-scrollbar-thumb {
    background: #ccc;
    border-radius: 5px;
}