{% extends 'flight/layout.html' %}

{% load static %}

{% block head %}
    <title>Bookings | Flight</title>
    <script type="text/javascript" src="{% static 'js/bookings.js' %}"></script>
    <link rel="stylesheet" href="{% static 'css/bookings_style.css' %}">
{% endblock head %}

{% block body %}
    <section class="section section1">
        <div class="container">
            {% if tickets %}
                {% for ticket in tickets %}
                    <div class="row each-booking-div" id="{{ticket.ref_no}}">
                        <div class="col-2" style="display: flex;">
                            <div style="display: flex; color: #666666; margin-top: auto;">
                                <div>
                                    <span style="font-size: 2.1em;">{{ticket.flight_ddate | date:"d"}}</span>
                                </div>
                                <div style="font-size: smaller; display: flex; margin: auto 0; padding-left: 5px; line-height: 1em;">
                                    <div style="margin: auto;">
                                        <div style="margin-bottom: 1px;">{{ticket.flight_ddate | date:"D"}}</div>
                                        <div style="margin-top: 1px;">{{ticket.flight_ddate | date:"M'y"}}</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-4 middle-div">
                            <div style="width:100%">
                                <div class="row places-div" style=" display: flex;">
                                    <div style="max-width: 45%;">{{ticket.flight.origin.city}}</div>
                                    <div>&nbsp;-&nbsp;</div>
                                    <div style="max-width: 45%;">{{ticket.flight.destination.city}}</div>
                                </div>
                                <div class="row places-div" style="font-size: .8em; color: #999999; ">
                                    <div style="max-width: 100%;">{{ticket.flight.airline}} &middot; {{ticket.flight.plane}} &middot; {{ticket.passengers.count}} Passengers</div>
                                </div>
                            </div>
                        </div>
                        <div class="col-2 middle-div">
                            <div style="font-size: 1.2em; color: #945937;">{{ticket.ref_no}}</div>
                        </div>
                        <div class="col-2 middle-div">
                            <div>
                                <div class="row status-div">
                                    {% if ticket.status == 'CONFIRMED' %}
                                        <div class="green">{{ticket.status}}</div>
                                    {% endif %}
                                    {% if ticket.status == 'PENDING' %}
                                        <div class="orange">{{ticket.status}}</div>
                                    {% endif %}
                                    {% if ticket.status == 'CANCELLED' %}
                                        <div class="red">{{ticket.status}}</div>
                                    {% endif %}
                                </div>
                                <div class="row booking-date-div" style="font-size: .7em; color: #666;">
                                    {% if ticket.status == 'CONFIRMED' %}
                                        Booked on: {{ticket.booking_date | date:"D, M d Y"}}
                                    {% endif %}
                                    {% if ticket.status == 'PENDING' %}
                                        Reviewed on: {{ticket.booking_date | date:"D, M d Y"}}
                                    {% endif %}
                                    {% if ticket.status == 'CANCELLED' %}
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                        <div class="col-2 last-div">
                            <div>
                                <div class="ticket-action-div">
                                    {% if ticket.status == 'CONFIRMED' %}
                                        <!--<button class="btn btn-outline-primary btnp">Print Ticket</button>-->
                                        <form action="{% url 'getticket' %}" method="get" target="_blank">
                                            <input type="hidden" name="ref" value="{{ticket.ref_no}}">
                                            <button type="submit" class="btn btn-outline-info btnp pbtn">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-printer" viewBox="0 0 16 16">
                                                    <path d="M2.5 8a.5.5 0 1 0 0-1 .5.5 0 0 0 0 1z"/>
                                                    <path d="M5 1a2 2 0 0 0-2 2v2H2a2 2 0 0 0-2 2v3a2 2 0 0 0 2 2h1v1a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2v-1h1a2 2 0 0 0 2-2V7a2 2 0 0 0-2-2h-1V3a2 2 0 0 0-2-2H5zM4 3a1 1 0 0 1 1-1h6a1 1 0 0 1 1 1v2H4V3zm1 5a2 2 0 0 0-2 2v1H2a1 1 0 0 1-1-1V7a1 1 0 0 1 1-1h12a1 1 0 0 1 1 1v3a1 1 0 0 1-1 1h-1v-1a2 2 0 0 0-2-2H5zm7 2v3a1 1 0 0 1-1 1H5a1 1 0 0 1-1-1v-3a1 1 0 0 1 1-1h6a1 1 0 0 1 1 1z"/>
                                                </svg>
                                            </button>
                                        </form>
                                        <button class="btn btn-outline-danger btnp cbtn"  data-ref="{{ticket.ref_no}}" onclick="popup(this)">Cancel</button>
                                    {% endif %}
                                    {% if ticket.status == 'PENDING' %}
                                        <form action="{% url 'resumebooking' %}" method="POST">
                                            {% csrf_token %}
                                            <input type="hidden" name="ref" value="{{ticket.ref_no}}">
                                            <button type="submit" class="btn btn-outline-primary btnp rbtn">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-right-circle" viewBox="0 0 16 16">
                                                    <path fill-rule="evenodd" d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8zm15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM4.5 7.5a.5.5 0 0 0 0 1h5.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5H4.5z"/>
                                                  </svg>
                                            </button>
                                        </form>

                                        <button type="button" class="btn btn-outline-danger btnp cbtn" data-ref="{{ticket.ref_no}}" onclick="popup(this)">Cancel</button>
                                    {% endif %}
                                    {% if ticket.status == 'CANCELLED' %}
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                        
                    </div>
                {% endfor %}
            {% else %}
                <div style="height: 100%; width:100%; padding: 10%;">
                    <div style="text-align: center; margin: auto;">
                        <svg width="4em" height="4em" viewBox="0 0 16 16" class="bi bi-exclamation-circle" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" d="M8 15A7 7 0 1 0 8 1a7 7 0 0 0 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                            <path d="M7.002 11a1 1 0 1 1 2 0 1 1 0 0 1-2 0zM7.1 4.995a.905.905 0 1 1 1.8 0l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 4.995z"/>
                        </svg>
                        <br><br>
                        <h3>Oops! Looks empty</h3>
                        <p>
                            Looks like You don't have any bookings yet.
                        </p>
                    </div>
                </div>
            {% endif %}
        </div>
    </section>
    
{% endblock %}

{% block parentBody %}
    <div class="popup">
        <div class="small-popup">
            <div style="margin-bottom: 10px; font-size: 1.1em;"><strong>Do you really want to cancel this ticket?</strong></div>
            <div class="popup-actions">
                <button class="btn btn-light" onclick="remove_popup()">Go Back</button>
                <button class="btn btn-danger" id="cancel_ticket_btn" data-ref="" onclick="cancel_tkt()">Cancel</button>
            </div>
        </div>
    </div>
{% endblock %}