{% extends 'flight/layout.html' %}

{% load static %}

{% block head %}
    <link rel="stylesheet" href="{% static 'css/book_style.css' %}">
{% endblock %}

{% block body %}
    <section class="section section1">
        <div class="row">
            <div class="col-8">
                <div class="ticket-details">
                    <h5>Ticket Details</h5>
                    <hr>
                    <div class="row ticket-details-div">
                        <div class="col-3 airline-name">
                            <div class="brand">All Nippon Airways</div>
                            <div class="plane-name">B747-8I</div>
                        </div>
                        <div class="col-3 depart-time">
                            <div class="time">18:45</div>
                            <div class="date">Fri, 08 Jan 21</div>
                            <div class="place">New Delhi</div>
                            <div class="airport">Indira Gandhi International Airport</div>
                        </div>
                        <div class="col-3 time-details">
                            <div class="duration">07 hrs 50 mins</div>
                        </div>
                        <div class="col-3 arrival-time">
                            <div class="time">06:05</div>
                            <div class="date">Sat, 09 Jan 21</div>
                            <div class="place">Tokyo</div>
                            <div class="airport">Haneda Airport</div>
                        </div>
                    </div>
                    <hr>
                    <div class="baggage-details">

                        <svg width="1em" height="1.5em" viewBox="0 3 16 16" class="bi bi-bag" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" d="M8 1a2.5 2.5 0 0 0-2.5 2.5V4h5v-.5A2.5 2.5 0 0 0 8 1zm3.5 3v-.5a3.5 3.5 0 1 0-7 0V4H1v10a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V4h-3.5zM2 5v9a1 1 0 0 0 1 1h10a1 1 0 0 0 1-1V5H2z"/>
                        </svg> 

                        30 Kgs Check-in, 7 Kgs Cabin
                    </div>
                </div>
                <div class="traveller-details">
                    <h5>Traveller Details</h5>
                    <hr>
                    <div class="row each-traveller">
                        <div>
                            <span class="traveller-name">Ayush Kumar,</span>
                            MALE
                        </div>
                        <div class="delete-traveller">
                            <button class="btn">
                                <svg width="1.1em" height="1.1em" viewBox="0 0 16 16" class="bi bi-trash" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
                                    <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4L4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
                                </svg>
                            </button>
                        </div>
                    </div>
                    <div class="row each-traveller">
                        <div>
                            <span class="traveller-name"></span>
                            You have not added any adults to the list
                        </div>
                    </div>
                    <div class="row add-traveller-div">
                        <div class="note-name"><span>IMPORTANT :</span> Enter your name as it is mentioned on your passport or any government approved ID.</div>
                        <form>
                            <div class="row form-group">
                                <div class="col">
                                  <input type="text" class="form-control" placeholder="First name" required>
                                </div>
                                <div class="col">
                                  <input type="text" class="form-control" placeholder="Last name" required>
                                </div>
                            </div>
                            
                            <div class="row form-group radio-div">
                                <div class="form-check-inline">
                                    <label class="form-check-label">
                                      <input type="radio" class="form-check-input" name="gender">Male
                                    </label>
                                </div>
                                <div class="form-check-inline">
                                    <label class="form-check-label">
                                    <input type="radio" class="form-check-input" name="gender">Female
                                    </label>
                                </div>
                            </div>

                            <div class="row form-group">
                                <div class="col">
                                  <input type="number" class="form-control" placeholder="Phone Number" required>
                                  <small id="emailHelp" class="form-text text-muted">Please include Country Code e.g., +91</small>
                                </div>
                                <div class="col">
                                  <input type="email" class="form-control" placeholder="Email Address" required>
                                </div>
                            </div>
                            
                            <button class="btn btn-secondary btn-danger">Add</button>
                          </form>
                    </div>
                    <hr>
                    <div class="add-traveller">
                        <button class="add-traveller-btn text-uppercase btn">+ ADD ADULT</button>
                    </div>
                </div>
                <div class="seat-map">
                    <div class="seat-map-label">
                        <div>
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                                <path fill="none" d="M0 0h24v24H0V0z"/>
                                <path d="M5.35 5.64c-.9-.64-1.12-1.88-.49-2.79.63-.9 1.88-1.12 2.79-.49.9.64 1.12 1.88.49 2.79-.64.9-1.88 1.12-2.79.49zM16 20c0-.55-.45-1-1-1H8.93c-1.48 0-2.74-1.08-2.96-2.54L4.16 7.78C4.07 7.33 3.67 7 3.2 7c-.62 0-1.08.57-.96 1.18l1.75 8.58C4.37 19.2 6.47 21 8.94 21H15c.55 0 1-.45 1-1zm-.46-5h-4.19l-1.03-4.1c1.28.72 2.63 1.28 4.1 1.3.58.01 1.05-.49 1.05-1.07 0-.59-.49-1.04-1.08-1.06-1.31-.04-2.63-.56-3.61-1.33L9.14 7.47c-.23-.18-.49-.3-.76-.38-.32-.09-.66-.12-.99-.06h-.02c-1.23.22-2.05 1.39-1.84 2.61l1.35 5.92C7.16 16.98 8.39 18 9.83 18h6.85l3.09 2.42c.42.33 1.02.29 1.39-.08.45-.45.4-1.18-.1-1.57l-4.29-3.35c-.35-.27-.78-.42-1.23-.42z"/>
                            </svg> 
                        </div>
                        <div>Seat map - Choose your Seat</div>
                    </div>
                    <div class="seat-map-btn">
                        <button class="btn btn-outline-danger">+ Add Seat</button>
                    </div>
                </div>
                <div class="payment-btn">
                    <button class="btn btn-primary btn-danger">Proceed to payment</button>
                </div>
            </div>
            <div class="col-4">
                <div class="price-details">
                    <h5>Fare Summary</h5>
                    <hr>
                    <div class="row base-fare">
                        <div class="base-fae-label">Base Fare: </div>
                        <div class="base-fare-value">₹ 37,310</div>
                    </div>
                    <div class="row surcharges">
                        <div class="surcharges-label">Fee & Surcharges: </div>
                        <div class="surcharges-value">₹ 2,486</div>
                    </div>
                    <div class="row other-service">
                        <div class="other-service-label">Other Charges: </div>
                        <div class="other-service-value">₹ 0</div>
                    </div>
                    <hr>
                    <div class="total-fare">
                        <div class="total-fare-label">Total Fare: </div>
                        <div class="total-fare-value">₹ 39,796</div>
                    </div>
                </div>
                <div class="coupon-code">
                    <h5>Coupan Code</h5>
                    <hr>
                    <div class="row base-fare">
                        <form class="form-inline">
                            <div class="form-group mx-sm-3">
                              <input type="text" class="form-control" placeholder="Coupon Code">
                            </div>
                            <button type="submit" class="btn btn-primary btn-danger">Apply</button>
                          </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}