{% extends 'flight/layout.html' %}

{% load static %}

{% block head %}
    <link rel="stylesheet" href="{% static 'css/search_style.css' %}">
{% endblock %}

{% block body %}
    <section class="section section1">
        <div class="query-data-div">
            <div class="container">
                <div class="trip-places">
                    <div class="from-div text-align-left">
                        <div class="small-label">From</div>
                        <div class="white">Delhi (DEL)</div>
                    </div>
                    <div class="trip-type-div white">
                        <div class="small-label">&nbsp;</div>
                        <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-arrow-left-right" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" d="M1 11.5a.5.5 0 0 0 .5.5h11.793l-3.147 3.146a.5.5 0 0 0 .708.708l4-4a.5.5 0 0 0 0-.708l-4-4a.5.5 0 0 0-.708.708L13.293 11H1.5a.5.5 0 0 0-.5.5zm14-7a.5.5 0 0 1-.5.5H2.707l3.147 3.146a.5.5 0 1 1-.708.708l-4-4a.5.5 0 0 1 0-.708l4-4a.5.5 0 1 1 .708.708L2.707 4H14.5a.5.5 0 0 1 .5.5z"/>
                        </svg>
                        <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-arrow-right" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z"/>
                        </svg>
                    </div>
                    <div class="to-div text-align-right">
                        <div class="small-label">To</div>
                        <div class="white">Bangalore (BLR)</div>
                    </div>
                </div>
                <div class="v-line"></div>
                <div class="trip-time">
                    <div class="depart-date-div">
                        <div class="small-label">Depart</div>
                        <div class="white">19 Oct 2020</div>
                    </div>
                    <div class="return-date-div">
                        <div class="small-label">Return</div>
                        <div class="white">23 Oct 2020</div>
                    </div>
                </div><div class="v-line"></div>
                <div class="trip-class">
                    <div class="return-date-div">
                        <div class="small-label">Class</div>
                        <div class="white">Economy</div>
                    </div>
                </div>
                <div class="v-line"></div>
                <div class="trip-modify">
                    <button class="btn btn-outline-danger">Modify</button>
                </div>
            </div>
        </div>
        <div class="query-result-div">

            <div class="container">
                <div class="row">
                    <div class="col-lg-3 filter-div">
                        <div class="filter">
                            <center>
                                <h4>Filter Results</h4>
                            </center>
                            <div class="filter-box">
                                <div class="filter-price">
                                    <div class="font-weight-bold">Price</div>
                                    <div>
                                        <input type="range" class="form-control-range" min="500" max="99999">
                                    </div>
                                </div>
                                <br>
                                <div class="time-slot">
                                    <div class="font-weight-bold">Depart Time</div>
                                    <div style="display: flex; justify-content: space-between;">
                                        <div class="square-box active">
                                            <div class="filter-img-div">
                                                <div>
                                                    <img src="{% static 'img/morning_inactive.png' %}" alt="" style="display: none;">
                                                    <img src="{% static 'img/morning_active.png' %}" alt="">
                                                </div>
                                            </div>
                                            <div>
                                                Before 6 AM
                                            </div>
                                        </div>
                                        <div class="square-box">
                                            <div class="filter-img-div">
                                                <div>
                                                    <img src="{% static 'img/noon_inactive.png' %}" alt="">
                                                    <img src="{% static 'img/noon_active.png' %}" alt="" style="display: none;">
                                                </div>
                                            </div>
                                            <div>
                                                6 am - 12 pm
                                            </div>
                                        </div>
                                        <div class="square-box">
                                            <div class="filter-img-div">
                                                <div>
                                                    <img src="{% static 'img/evening_inactive.png' %}" alt="">
                                                    <img src="{% static 'img/evening_active.png' %}" alt="" style="display: none;">
                                                </div>
                                            </div>
                                            <div>
                                                12 pm - 6 pm
                                            </div>
                                        </div>
                                        <div class="square-box">
                                            <div class="filter-img-div">
                                                <div>
                                                    <img src="{% static 'img/night_inactive.png' %}" alt="">
                                                    <img src="{% static 'img/night_active.png' %}" alt="" style="display: none;">
                                                </div>
                                            </div>
                                            <div>
                                                After 6 pm
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-9 actual-result-div">
                        <div class="sort-div">
                            <div class="sort-label">Sort By:</div>
                            <div style="display: flex;">
                                <div class="sort-depart">
                                    Depart
                                    <span>&#8595;</span>
                                </div>
                                <div class="sort-arrive">
                                    Arrive
                                    <span> &#8593;</span>
                                </div>
                            </div>
                            <div class="sort-price">
                                Price
                                <span>&#8595;</span>
                            </div>
                        </div>
                        <div class="each-flight-div-box">
                            <div class="each-flight-div">
                                <div class="flight-company">
                                    <div class="flight-icon">
                                        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" aria-hidden="true" focusable="false" width="1.5em" height="1.3em" style="-ms-transform: rotate(360deg); -webkit-transform: rotate(360deg); transform: rotate(360deg);" preserveAspectRatio="xMidYMid meet" viewBox="0 0 440 384"><path d="M14 335h405v43H14v-43zm417.5-199.5q3.5 12.5-3 24T409 175l-114 30l-92 25l-114 30l-34 10l-16-29l-39-67l31-9l42 33l106-28L91 17l41-11l147 137l113-30q13-4 24.5 3t15 19.5z" fill="#434445"/><rect x="0" y="0" width="440" height="384" fill="rgba(0, 0, 0, 0)" /></svg>
                                    </div>
                                    <div class="company-details">
                                        <div class="company-name">Air India</div>
                                        <div class="plane-name">B747-8I</div>
                                    </div>
                                </div>
                                <div class="flight-time">
                                    <div class="flight-origin-time">
                                        <div class="flight-time">
                                            <h5>18:45</h5>
                                        </div>
                                        <div class="flight-place">
                                            New Delhi
                                        </div>
                                    </div>
                                    <div class="flight-stops tooltip">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="34" height="24" viewBox="0 0 24 24">
                                            <path d="M13,9.03544443 C14.6961471,9.27805926 16,10.736764 16,12.5 C16,14.263236 14.6961471,15.7219407 13,15.9645556 L13,21.5207973 C13,21.7969397 12.7761424,22.0207973 12.5,22.0207973 C12.2238576,22.0207973 12,21.7969397 12,21.5207973 L12,15.9645556 C10.3038529,15.7219407 9,14.263236 9,12.5 C9,10.736764 10.3038529,9.27805926 12,9.03544443 L12,3.5 C12,3.22385763 12.2238576,3 12.5,3 C12.7761424,3 13,3.22385763 13,3.5 L13,9.03544443 L13,9.03544443 Z M12.5,15 C13.8807119,15 15,13.8807119 15,12.5 C15,11.1192881 13.8807119,10 12.5,10 C11.1192881,10 10,11.1192881 10,12.5 C10,13.8807119 11.1192881,15 12.5,15 Z" transform="rotate(90 12.5 12.51)"/>
                                        </svg>
                                        <span class="tooltiptext">07 hrs 50 mins</span>
                                    </div>
                                    <div class="flight-destination-time">
                                        <div class="flight-time">
                                            <h5>06:05</h5>
                                        </div>
                                        <div class="flight-place">
                                            Tokyo
                                        </div>
                                    </div>
                                </div>
                                <div class="flight-details">
                                    <div class="flight-price">
                                        <h5>₹ 4,004</h5>
                                    </div>
                                    <div class="flight-details-btn">
                                        <button class="btn btn-outline-danger" type="button">
                                            Book Flight &#8594;
                                        </button> 
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </section>
{% endblock %}