{% extends 'flight/layout.html' %}

{% load static %}

{% block head %}
    <title>Terms and Conditions | Flight</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/privacy-policy.css' %}">
{% endblock head %}

{% block body %}
    <section class="privacybanner-section">
            <img src="{% static 'img/terms-and-conditions.png' %}" alt="Privacy Policy" class="privacybannerimg">
    </section>
    <section class="section section1">
        <div class="container">
            <p>
                The travel site www.flight-web-app.herokuapp.com is maintained by Flight Inc. It is an IATA certified travel company existing compliant with the laws of the Republic of India. By accessing or using this site or using any of its services, you are agreed on terms and conditions mentioned below, including any supplementary guidelines and future modifications.
            </p>
            <p>
                Flight may change, alter or remove any part of these below written Terms and Conditions without any prior notice. Any changes done in this Terms and Conditions of Use will be applicable the moment they are posted on the site. You need to re-check the “Terms & Conditions” link to be fully aware of the entire scenario.
            </p>
            <p>
                <b>1. Agreement between the Clients & Flight:</b><br>
                While accessing, using, browsing or make booking through flight-web-app.herokuapp.com, users have to accept that they are agreed to the terms and conditions of our portal. In case of any violation, Flight Planners Ltd. and its subsidiaries (including flight-web-app.herokuapp.com) reserve all the rights for taking any legal actions against them.
            </p>
            <p>
                <b>2. Prices on the Website:</b><br>
                Service Charge, Cancellation Charge, Reschedule charge are inclusive of GST<br>
                The price, which we offer on flight-web-app.herokuapp.com, is generally includes accommodation charges, taxes (unless specified otherwise) and in special cases some meals (Breakfast /Lunch / Dinner). It never comprises any personal expense or other additional charges like telephone calls, personal-man services, entrance fees of any monuments and bar charges, etc.
            </p>
            <p>
                <b>3. Mode of Payments & the Policies:</b><br>
                Our payment gateway is completely secure and customers can make the online payments through a safe transaction process that ensures their personal security codes will not be revealed in any circumstances.
            </p>
            <p>
                <b>4. Use of the Website</b><br>
                <b>In case of your use of this website, you agree that:</b>
                <ul>
                    <li>You have the legal authority to create an obligatory legal requirement and enter into these Terms of Use.</li>
                    <li>You will use this site as per its Terms of Use.</li>
                    <li>You will use the website only to make lawful bookings for you or other person for whom you are officially approved to do these kinds of bookings. You will also inform other persons about the Terms and Condition of the website</li>
                    <li>You will provide accurate information about every official document and other important details like name and DOB to the site in case of planning trip with it.</li>
                    <li>In case of any error or mistake in the process of information, you will be solely responsible for the same.</li>
                    <li>All information provided by you to this site should be accurate, updated and complete,</li>
                    <li>If you have an account on this site, you are advised to secure it with your login details, including login ID and password. You will be entirely responsible for any use or misuse of your account.</li>
                    <li>Flight reserves the right to deny access to its Website to anyone, at any time without any notice and for any reason, including, but not restricted to, for the violation of its Terms of Use.</li>
                </ul>

        </div>
    </section>
{% endblock%}