body{
    margin: 0px;
    padding: 0px;
    font-family: "Rubik", sans-serif;
    font-weight: normal;
    font-style: normal;
    min-width: 250px;
}
.container-fluid{
    padding-left: 0px;
    padding-right: 0px;
}
.dropdown-menu{
    box-shadow: 0 0 10px rgba(0,0,0,.1);
}
.navbar{
    padding: .7rem 1.2rem;
    background-color: #fff;
    transition-duration: .2s;
}
.nav-link:hover{
    color: #e12323!important;
    transition-duration: .2s;
}
.my-account .dropdown-header{
    align-content: flex-start;
}

.section{
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 30px 50px;
    min-height: 100vh;
}
.first-section{
    display: flex;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

.banner-div{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-right: 15px;
}
.banner-text{
    color: white;
    font-size: 54px;
    /* font-family: sans-serif; */
    font-family: Georgia, 'Times New Roman', Times, serif!important;
    font-weight: 700;
    text-align: left;
    text-shadow: 0px 0px 8px rgba(255,255,255,0.2);
}

@media (max-width: 992px){
    .first-section{
        display: block;
    }
    .banner-text{
        text-align: center;
        font-size: 50px;
        margin-top: 20px;
        margin-bottom: 20px;
    }
    .search-flight{
        width: 80%!important;
        margin-left: auto;
        margin-right: auto;
    }
}
@media (max-width: 768px){
    .banner-text{
        font-size: 40px;
        margin-top: 40px;
        margin-bottom: 45px;
    }
    .search-flight{
        width: 85%!important;
    }
}
@media (max-width: 652px){
    .search-flight{
        width: 99%!important;
    }
}
@media (max-width: 576px){
    .section{
        padding: 30px 30px;
    }
    .search-flight{
        width: 100%!important;
        padding: 40px 30px !important;
    }
}
@media (max-width: 430px){
    .search-flight{
        padding: 35px 18px !important;
    }
}
@media (max-width: 376px){
    .section{
        padding: 30px 1px;
    }
    .banner-text{
        font-size: 35px;
        margin-top: 15px;
        margin-bottom: 25px;
    }
    .search-flight{
        padding: 35px 10px !important;
    }
    .footer-content{
        display: block!important;
    }
    .logo-container{
        display: flex;
        justify-content: center;
    }
    .quote-container{
        text-align: center;
        margin-bottom: 15px;
    }
    .quote{
        font-size: 1.1em!important;
    }
    .quote-by{
        text-align: center;
    }
    .links-container{
        margin-bottom: 15px;
    }
    .link-list{
        margin-left: auto!important;
        margin-right: auto!important;
        text-align: center;
    }
}
@media (max-width: 280px){
    .search-flight{
        padding: 30px 0px !important;
    }
}

.search-flight{
    padding: 50px 40px;
    background-color: #fff;
    width: 40%;
    border-radius: 7px;
    box-shadow: rgba(101, 119, 134, 0.2) 0px 0px 15px, rgba(101, 119, 134, 0.15) 0px 0px 3px 1px;
    display: flex;
}
.search-flight .input-row{
    margin: 10px;
}
.search-flight .input-row label{
    margin-bottom: 0;
    font-size: .9em;
    color: rgb(100,100,100);
}
.search-flight button[type="submit"]{
    margin-top: 10px;
}
.search-flight .dropdown-menu{
    top: auto;
    left: auto;
}


.second-section .section_title{
    margin-top: 25px;
    margin-bottom: 45px;
}

.single_destination{
    margin-bottom: 30px;
    border-radius: 5px;
    overflow: hidden;
    transition: 0.3s;
    position: relative;
}
.single_destination::before{
    background: linear-gradient(to bottom, rgba(4, 14, 39, 0) 0%, rgba(4, 14, 39, 0.7) 100%);
    content: '';
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    position: absolute;
}
.single_destination:hover{
    transform: translateY(-10px);
    box-shadow: 0 12px 15px rgba(0,0,0,.2);
    cursor: pointer;
}
.single_destination .thumb img{
    width: 100%;
}
.single_destination .content{
    position: absolute;
    left: 30px;
    bottom: 30px;
    z-index: 7;
}
.single_destination .content a{
    margin-bottom: 0;
    font-size: 22px;
    color: #fff;
    font-weight: 400;
    transition: 0.3s;
    text-decoration: none;
}
.single_destination:hover content a{
    background-color: red;
}

footer{
    background-color: rgb(255,242,242);
    margin-top: 0px;
    padding-top: 1px;
}
footer .container > div{
    font-family: Barlow, sans-serif;
    margin: 48px 0px 10px;
    flex-shrink: 0;
    max-width: 100%;
    overflow: hidden;
}
.footer-content{
    padding-top: 20px;
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
}
.links-container{
    text-align: left;
    flex-direction: row;
    display: flex;
}
.quote-container{
    text-align: right;
}
.logo-container img{
    width: 130px;
}
.links-container > div{
    flex: 1 0 0px;
}
.links-container > div ul{
    padding-inline-start: 0px;
    margin-block-start: 0px;
    margin-block-end: 0px;
    list-style-type: none;
    margin-right: 50px;
}
.footer-links{
    white-space: nowrap;
    color: rgb(31, 31, 31);
    text-decoration: underline solid rgb(255, 255, 255);
    transition: all 0.1s ease 0s;
}
.footer-links:hover{
    color: rgb(31, 31, 31);
}
.quote-container .quote{
    font-family: utopia-std, serif;
    text-align: center;
    color: rgb(26, 26, 26);
    max-width: 500px;
    margin: auto;
    font-size: 21px;
    font-weight: 600;
    line-height: 1.6;
}
.quote-container .quote-by{
    font-family: sans-serif;
    font-size: 15px;
}
.social-icons{
    list-style-type: none;
    display: flex;
    margin: 0px auto;
    padding: 20px 0px;
    width: 100%;
    max-width: 200px;
    justify-content: space-evenly;
}
.social-icons a{
    height: 44px;
    width: 44px;
}

#places_from, #places_to{
    display: none;
    position: absolute;
    left: 0;
    right: 0;
    margin-left: 10px;
    margin-right: 10px;
    background-color: #fff;
    box-shadow: 0 0 5px rgba(0,0,0,.2);
    cursor: pointer;
    max-height: 70%;
    overflow: auto;
    cursor: pointer;
}
.each_places_from_list, .each_places_to_list{
    padding: 10px 15px;
    transition-duration: .2s;
}
.each_places_from_list:hover, .each_places_to_list:hover{
    background-color: #f2f2f2;
}
.each_places_from_list:active, .each_places_to_list:active{
    background-color: #e5e5e5;
}
.places_box{
    display: none;
    cursor: pointer;
}
.search-flight-form-data{
    position: relative;
}






::-webkit-scrollbar-track {
    background: none;
}
::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}
::-webkit-scrollbar-thumb {
    background: #ccc;
    border-radius: 5px;
}

