.section1{
    padding: 0px;
    display: flex;
    flex-direction: column;
}

.white{
    color: white;
    font-size: large;
}
.v-line{
    border-left: 1px dashed rgba(255, 255, 255, .9);
    height: 100%;
    margin: 0px 15px;
}
.small-label{
    font-size: .7em;
    color: rgb(240, 240, 240);
}

.query-data-div{
    height: 11vh;
    background-color: crimson;
    background-image: linear-gradient(135deg, crimson, #b8017b);
    display: flex;
}
.query-data-div > .container{
    display: flex;
    height: 90%;
    margin-top: auto;
    margin-bottom: auto;
    border-radius: 8px;
}
.query-data-div > .container > div{
    margin-top: auto;
    margin-bottom: auto;
    display: flex;
}
.trip-places > div{
    padding-left: 8px !important;
    padding-right: 8px !important;
}
.trip-time > div{
    padding-left: 8px !important;
    padding-right: 8px !important;
}
.trip-places{
    flex: 1;
    overflow: hidden;
}
.trip-time, .trip-class{
    padding-left: 10px;
    padding-right: 10px;
}
.trip-modify{
    padding-left: 12px;
    padding-right: 12px;
}
.trip-modify button{
    transition-duration: .2s;
    color: white;
    border-color: white;
}
/*.trip-modify button:hover, button:active, button:focus{
    background-color: rgba(220,53,69,.1);
}*/
.trip-modify button:hover, button:active{
    background-color: rgb(255, 235, 245);
    color: rgb(189, 4, 116);
}
.trip-modify button:focus{
    box-shadow: 0 0 0 0.2rem rgba(255,255,255,.3);
}

.query-result-div{
    flex: 1;
    background-color: #fff;
    display: flex;
}
.filter-div{
    padding: 15px;
}
.actual-result-div{
    flex: 1;
    padding: 20px 35px;
}
.filter-box > div{
    margin: 10px 0px 30px 0px;
}
.filter-div h4{
    font-weight: 800;
    line-height: .75em;
    font-size: 1.1em;
    color: #321d1d;
    margin-bottom: 20px;
    margin-top: 10px;
}
.filter-box .font-weight-bold{
    margin-bottom: 5px;
}
.square-box{
    border: 1px solid grey;
    border-radius: 5px;
    font-size: .6em;
    width: 23%;
    transition-duration: .2s;
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;
}
.square-box:hover{
    cursor: pointer;
}
.square-box.active{
    background-color: #0075ff;
    border-color: #0075ff;
    color: white;
}
.square-box img{
    width: 34px;
}
.filter-img-div{
    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
}

.each-flight-div{
    display: flex;
    justify-content: space-between;
    padding: 15px 20px;/*
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);*/
}
.each-flight-div-box{
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    margin-top: 10px;
}
.card{
    border: none;
    border-top: 1px solid rgba(0,0,0,.125);
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
}
.each-flight-div > div{
    display: flex;
}
.company-details{
    padding-left: 5px;
    padding-right: 5px;
}
.company-name{
    font-weight: bold;
}
.plane-name{
    font-size: smaller;
}
.flight-time{
    display: flex;
    justify-content: space-evenly;
}
.flight-time h5{
    margin-bottom: 2px;
}
.flight-place{
    font-size: .8em;
    color: grey;
    text-align: center;
}
.each-flight-div > div{
    display: flex;
    margin-top: auto;
    margin-bottom: auto;
}
.flight-price{
    display: flex;
    margin-right: 15px;
}
.flight-price > h5{
    margin-top: 20%;
    margin-bottom: 20%;
    font-weight: 600;
}
.flight-stops{
    position: relative;
    opacity: 1;
}
.tooltip .tooltiptext {
    visibility: hidden;
    white-space: nowrap;
    background-color: rgba(0, 0, 0, .8);
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 4px 7px;
    position: absolute;
    z-index: 1;
    bottom: 100%;
    left: 50%;
    transform: translateX(-50%);
    font-size: .9em;
}
.tooltip .tooltiptext:before{
    content:'';
    display:block;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-top: 6px solid rgba(0, 0, 0, .8);
    width:0;
    height:0;
    position:absolute;
    left:50%;
    transform: translateX(-50%);
    top:100%;
}
.tooltip:hover .tooltiptext {
    visibility: visible;
  }


/*.flight-stops-seperator{
    border-top: 2px solid #979797;
    width: 50px;
    height: 2px;
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    top: 0;
    bottom: 0;
    z-index: 1;
}
.flight-stops-disc{
    width: 6px;
    height: 6px;
    border: 1px solid #000;
    display: inline-block;
    background-color: #fff;
    position: relative;
    z-index: 2;
}*/
.flight-details-btn{
    display: flex;
}
.flight-details-btn button{
    margin-top: auto;
    margin-bottom: auto;
}
.sort-div{
    display: flex;
    justify-content: space-between;
    margin-left: 20px;
    margin-right: 150px;
    font-size: .9em;
}
.sort-arrive, .sort-depart{
    margin-left: 34px;
    margin-right: 4px;
}
.sort-price{
    margin-right: 20px;
}

.price-range-output{
    margin-top: 2px;
    display: flex;
    justify-content: space-between;
    color: #808080;
    font-size: .8em;
}