.form-control:focus{
    box-shadow: 0 0 0 0.03rem rgba(220,53,69,.25);
    border-color: rgb(220,53,69);
}
.btn, .btn:focus, .btn:active{
    box-shadow: none !important;
    -webkit-box-shadow: none !important;
}
.btn{
    color: white;
    border-radius: 999px;
    width: 95%;
}
.star{
    color: red;
}

.user-box{
    background-color: #fff;
    width: 45%;
    border-radius: 5px;
    margin-top: 10vh;
    margin-left: auto;
    margin-right: auto;
    padding: 10px 50px 10px 50px;
}

.user-box form > div{
    margin-left: 10px;
    margin-right: 10px;
}

.custom-file-label{
    overflow: hidden;
}

.small{
    font-size: small;
}